p {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0; }

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 20px; }

button {
  border-width: 0;
  text-align: center;
  padding: 5px 10px; }

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center; }

.player {
  width: 27vmin;
  height: 27vmin;
  background-color: green;
  font-family: "Sriracha", cursive;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 20%; }
  .player__form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; }
    .player__form-name {
      margin-top: 7vmin;
      margin-bottom: 10px;
      height: 30px;
      border-width: 0;
      background-color: black;
      color: green;
      text-align: center; }
      .player__form-name::-webkit-input-placeholder {
        text-align: center;
        font-family: "Source Code Pro", monospace; }
      .player__form-name::-moz-placeholder {
        text-align: center;
        font-family: "Source Code Pro", monospace; }
      .player__form-name:-ms-input-placeholder {
        text-align: center;
        font-family: "Source Code Pro", monospace; }
      .player__form-name::-ms-input-placeholder {
        text-align: center;
        font-family: "Source Code Pro", monospace; }
      .player__form-name::placeholder {
        text-align: center;
        font-family: "Source Code Pro", monospace; }
      .player__form-name:invalid {
        background-color: maroon;
        color: black; }
    .player__form-button {
      background-color: black;
      color: green; }
  .player__name {
    font-size: 25px; }
  .player__operator {
    font-size: 50px;
    line-height: 1; }

.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; }

.scoreboard {
  color: green;
  margin-bottom: 10%;
  font-size: 50px; }

.field {
  width: 50vmin;
  height: 50vmin;
  margin-bottom: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center; }
  .field__cell {
    text-align: center;
    width: 85%;
    height: 85%;
    background-color: green;
    border-radius: 20%;
    font-size: 10vmin;
    line-height: 14vmin;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Sriracha", cursive; }

.reset {
  background-color: green;
  color: black;
  font-size: 30px; }
