p {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0; }

body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Source Code Pro", monospace;
  font-size: 20px; }

button {
  border-width: 0;
  text-align: center;
  padding: 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around; }
  @media screen and (min-width: 720px) {
    .container {
      height: 100vh; } }
  @media screen and (max-width: 719px) {
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column; } }

.menu {
  font-family: "Source Code Pro", monospace;
  padding: 5px 10px;
  color: green;
  background-color: black;
  text-align: center; }
  @media screen and (min-width: 720px) {
    .menu {
      border: 2px solid green;
      border-radius: 20px;
      position: fixed;
      top: 10px;
      left: 10px; } }
  @media screen and (max-width: 719px) {
    .menu {
      border-bottom: 2px solid green;
      width: 100%;
      margin-bottom: 3vh; } }
  .menu__list {
    padding: 10px; }
    .menu__list__item {
      background-color: green;
      font-family: "Source Code Pro", monospace;
      color: black;
      font-size: 20px; }

.player {
  background-color: green;
  font-family: "Sriracha", cursive;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px; }
  @media screen and (min-width: 720px) and (min-height: 500px) {
    .player {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      width: 17vw;
      height: 17vw; } }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .player {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      width: 23vw;
      height: 15vw; } }
  @media screen and (max-width: 719px) {
    .player {
      padding: 10px 7px;
      width: 80vw;
      margin-bottom: 15px; } }
  .player__input-name {
    height: 30px;
    border-width: 0;
    background-color: black;
    color: green;
    text-align: center; }
    @media screen and (min-width: 720px) and (max-height: 499px) {
      .player__input-name {
        width: 90%; } }
    @media screen and (min-width: 720px) {
      .player__input-name {
        margin-top: 4vmin;
        margin-bottom: 5px; } }
    .player__input-name::-webkit-input-placeholder {
      text-align: center;
      font-family: "Source Code Pro", monospace; }
    .player__input-name::-moz-placeholder {
      text-align: center;
      font-family: "Source Code Pro", monospace; }
    .player__input-name:-ms-input-placeholder {
      text-align: center;
      font-family: "Source Code Pro", monospace; }
    .player__input-name::-ms-input-placeholder {
      text-align: center;
      font-family: "Source Code Pro", monospace; }
    .player__input-name::placeholder {
      text-align: center;
      font-family: "Source Code Pro", monospace; }
    .player__input-name:invalid {
      background-color: maroon;
      color: black; }
  .player__button {
    font-family: "Source Code Pro", monospace;
    background-color: black;
    color: green; }
    @media screen and (min-width: 720px) and (min-height: 500px) {
      .player__button {
        margin-bottom: 15px; } }
  @media screen and (min-width: 720px) and (min-height: 500px) {
    .player__name, .player__status {
      font-size: 25px; } }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .player__name, .player__status {
      font-size: 22px; } }
  @media screen and (max-width: 719px) {
    .player__name, .player__status {
      font-size: 20px; } }
  .player__operator {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1; }
    @media screen and (min-width: 720px) and (min-height: 500px) {
      .player__operator {
        font-size: 50px; } }
    @media screen and (min-width: 720px) and (max-height: 499px) {
      .player__operator {
        font-size: 40px; } }
    @media screen and (max-width: 719px) {
      .player__operator {
        font-size: 30px; } }

.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; }

.scoreboard {
  color: green; }
  @media screen and (min-width: 720px) and (min-height: 500px) {
    .scoreboard {
      font-size: 50px;
      margin-bottom: 10%; } }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .scoreboard {
      font-size: 35px;
      margin-bottom: 5%; } }
  @media screen and (max-width: 719px) {
    .scoreboard {
      font-size: 30px;
      margin-bottom: 15px; } }

.field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center; }
  @media screen and (min-width: 720px) and (min-height: 500px) {
    .field {
      width: 50vmin;
      height: 50vmin;
      margin-bottom: 10%; } }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .field {
      width: 60vmin;
      height: 60vmin;
      margin-bottom: 5%; } }
  @media screen and (max-width: 719px) {
    .field {
      width: 70vmin;
      height: 70vmin;
      margin-bottom: 15px; } }
  .field__cell {
    text-align: center;
    width: 85%;
    height: 85%;
    background-color: green;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Sriracha", cursive; }
    @media screen and (min-width: 720px) {
      .field__cell {
        font-size: 10vmin;
        line-height: 14vmin; } }
    @media screen and (max-width: 719px) {
      .field__cell {
        font-size: 13vmin;
        line-height: 17vmin; } }

.restart {
  font-family: "Source Code Pro", monospace;
  background-color: green;
  color: black; }
  @media screen and (min-width: 720px) and (min-height: 500px) {
    .restart {
      font-size: 30px; } }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .restart {
      font-size: 25px; } }
  @media screen and (max-width: 719px) {
    .restart {
      font-size: 20px;
      margin-bottom: 15px; } }

.helper {
  font-family: "Source Code Pro", monospace;
  padding: 10px 15px;
  position: fixed;
  background-color: black;
  color: green;
  text-align: center; }
  @media screen and (min-width: 720px) and (max-height: 499px) {
    .helper {
      font-size: 12px; } }
  @media screen and (min-width: 720px) {
    .helper {
      bottom: 10px;
      right: 10px; } }
  @media screen and (max-width: 719px) {
    .helper {
      top: 45%;
      border: 2px solid maroon; } }
