body {
  margin: 0;
  padding: 0;
  background-color: black; }

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center; }

.player {
  width: 25vmin;
  height: 25vmin;
  background-color: green; }

.field {
  width: 50vmin;
  height: 50vmin;
  background-color: green; }
